<!DOCTYPE html>
<html lang='zh-tw'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>111-打掃分配</title>

    <link rel="stylesheet" href='{{ url_for("static", filename="css/bootstrap.css") }}'>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <div class="container-fluid" style="min-height:50vh!important;">
        {% block main_content %}
        <div class="row justify-content-center " style="margin-top:43vh;">
            <div class="col-12 col-md-7 col-lg-5 d-flex justify-content-center align-content-center">
                <h1 class='pe-3 pt-2'>打掃工作分配</h1>
                <button class='btn btn-primary my-2' onclick="location.href='/start/'">開始</button>
                <img src='{{ url_for("static", filename="settings.png") }}' onclick='location.href="/settings/"' class='pt-2' height=50></img>
            </div>
        </div>
        {% block row_content %}{% endblock row_content %}
        {% endblock main_content %}
    </div>
    {% block copy_right %}
    <a href='https://github.com/Timothychen00/' target="_blank" style='position:absolute;width:100%;margin-left:-20px;' class='text-center h7 fw-normal text-decoration-none text-black'> &copy; 2021 TimothyChen(陳澤榮) </a>
    {% endblock copy_right %}
    {% block script %}
    {% endblock script %}
</body>
</html>