{% extends 'base.html' %}
{% block main_content %}
<div class='row text-center mt-5'>
    <h1 class='col-12'>設定</h1>
    <button onclick='location.href="/"' class='btn btn-primary col-1 offset-10 mt-4 mb-1 p-0' style='margin-top:-50px!important;'>返回</button>
    <p class='col-10 text-start mt-4 ms-5'>設定檔已在默認應用中打開，請在修改後存檔，再返回，避免出現錯誤。其他更多關於設定檔的資訊，參見README.md檔案</p>
</div>
{% endblock main_content %}
{% block copy_right %}
<a href='https://github.com/Timothychen00/' target="_blank" style='position:absolute;bottom:0;width:100%;margin-left:-20px;' class='text-center h7 fw-normal text-decoration-none text-black'> &copy; 2021 TimothyChen(陳澤榮) </a>
{% endblock copy_right %}